@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import '~antd/dist/antd.css';
@import '~antd-mobile/dist/antd-mobile.css';

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: rgb(0, 126, 0);
    text-decoration: unset;
}

ul {
    margin-left: 1.5rem;
    list-style: none;
}

.defaultCursor {
    cursor: default;
}

.pointer {
    cursor: pointer;
}
button {
    border: none;
    background: none;
    color: unset;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 1em 0;
}

/* general */

body {
    font-family: 'Roboto', sans-serif;
}